body {
    margin: 0;

    /* width: 100vw; */
    height: 100%;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:after,
*:before{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

input::placeholder {
    color: rgba(255, 255, 255, .75); 
}

textarea{
    font-size: 18px;
    color: #ffffff;
    font-family: "Titillium Web" sans-serif;
    font-weight: 400;
}

textarea::placeholder{
    color: rgba(255, 255, 255, .75);
    font-family: "Titillium Web" sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* Container */
.container{
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header{
    position: absolute;
    width: 100%;
}

.header__inner{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */
.nav{
    color: #ffffff;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.nav__item{
    padding: 10px 15px;
    margin-left: 35px;
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
    border-radius: 4px;
    transition: background .1s linear,
    color .1s linear;
}

.nav__item:hover{
    color: #ffffff;
    background-color: #643a79;
}

/* Burger */
.burger{
    display: none;
    font-size: 0;
    color: transparent;
    position: relative;
    border: 0;
    cursor: pointer;
    outline: none;
}

.burger::after,
.burger::before{
    display: block;
    content: "";
    width: 40px;
    height: 4px;
    background-color: #fff;
    position: absolute;
}

.burger::after{
    top: 12px;
}

.burger::before{
    top: -12px;
}

/* Intro */
.intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 656px;
    padding-top: 81px;
    background-color: #87509c;
}

.intro__inner{
    width: 100%;
    max-width: 916px;
    margin: 0 auto;
}

.intro__title{
    color: #f7f3ea;
    font-family: "Titillium Web";
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

/* Button */
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 25px 70px;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: none;
    cursor: pointer;
    border: none;

    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.19px;
    text-transform: uppercase;
    letter-spacing: 0.27px;
    font-weight: 600;
    transition: 0.2s;
}

.btn:hover{
    transform: translateY(-5px);
}

.btn--orange{
    background-color: #eb7d4b;
    border-bottom: 4px #c86a40 solid;
}

.btn--green{
    background-color: #17c2a4;
    border-bottom: 4px solid #14a58b;
}

.btn--blue{
    background-color: #30bae7;
    border-bottom: 4px solid #299ec4;
}

/* Rubric */
.rubric{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.rubric__title{
    font-family: "Titillium Web", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.rubric__title::after{
    display: block;
    content: "";
    height: 4px;
    width: 84px;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 23px auto;
}

.rubric__subtitle{
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-align: center;
}

.rubric__title--white{
    color: #ffffff;
}

.rubric__subtitle--white{
    color: rgba(255, 255, 255, .9);
}

.rubric__title--black{
    color: #3c4761;
}

.rubric__subtitle--black{
    color: #3c4761;
}

.rubric__subtitle--dark{
    color: #393939;
}

.rubric__title--dark{
    color: #393939;
}

/* Services */
.services{
    padding: 120px 0;
    width: 100%;
    height: 100%px;
    background-color: #17c2a4;
    margin: 0;
}

.services__inner{
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.services__item{
    margin: 50px auto 0;
    text-align: center;
    max-width: 25%;
}

.services__img{
    margin-bottom: 60px;
}

.services__title{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.services__text{
    padding: 0 35px;
    color: #e4eef5;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* Team */
.team{
    width: 100%;
    height: 100%px;
    background-color: #e7f1f8;
    padding: 120px 0;
}

.team__inner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.team__item{
    max-width: 25%;
    margin: 80px auto 0;
    justify-content: center;
    text-align: center;
}

.team__name{
    color: #27283d;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    margin-top: 40px;
}

.team__position{
    color: #30bae7;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.32px;
    margin-top: 15px;
}

.team__text{
    color: #27283d;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-top: 26px;
    padding: 0 30px;
}

/* Links */
.links{
    margin-top: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    background-color: #bdd1df;
    border-radius: 50%;
    color: #ffffff;
    transition: .1s;
}

.link:hover{
    color: #3c4761;
    background-color: #fff;
}

/* Skils */
.skills{
    width: 100%;
    padding: 120px 0;
    height: 100%;
    background-color: #ffffff;
}

.skills__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__item{
    width: 25%;
    margin-top: 80px;
    text-align: center;
}

/* Portfolio */
.portfolio{
    padding: 120px 0;
    height: 100%;
    background-color: #ffdd99;
    width: 100%;
}

.portfolio__inner{
    margin-top: 62px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.portfolio__item{
    width: 50%;
    text-align: center;
    margin-top: 64px;
}

.potfolio__title{
    margin-top: 32px;
    color: #393939;
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.5px;
    text-transform: uppercase;
    letter-spacing: 0.36px;
}

.portfolio__btn{
    text-align: center;
}

/* Catigories */
.catigories{
    display: flex;
    justify-content: center;
    margin-top: 42px;
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.5px;
    text-transform: uppercase;
    letter-spacing: 0.36px;
}

.catigories__item{
    color: #393939;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 4px;
    transition: background .1s linear;
}

.catigories__item:hover{
    background-color: #fff;
}

/* Reviews */
.reviews{
    padding: 120px 0;
    width: 100%;
    height: 100%;
    background-color: #d74680;
}

.reviews__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews__item{
    margin-top: 71px;
    margin-bottom: 88px;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.reviews__img{
    height: 100%;
}

.reviews__content{
    margin-left: 48px;
}

.reviews__text{
    color: rgba(255, 255, 255, .9);
    font-family: 'Titillium Web';
    font-weight: 200;
    font-size: 24px;
    font-style: italic;
    line-height: 31.2px;
    letter-spacing: 0.35px;
}

.reviews__autor{
    margin-top: 24px;
    color: #ffffff;
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}

.reviews__position{
    margin-top: 9px;
    color: #ffdd99;
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
}

/* Get */
.get{
    padding-top: 120px;
    width: 100%;
    height: 863px;
    background-color: #3c5499;
}

.get__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get__email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get__credential{
    margin-top: 76px;
    width: 860px;
    display: flex;
    justify-content: space-between;
}

.get__form{
    background-color: #273a71;
    border-radius: 5px;
    box-shadow: none;
    border: 2px transparent solid;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    font-family: "Titillium Web" sans-serif;
    font-weight: 400;
    padding: 20px;
    transition: .2s;  
}

.get__textarea{
    width: 860px;
    height: 200px;
}

.get__textarea:focus{
    border: 2px #d9424c solid;
}

.get__input{
    width: 414px;
    height: 56px;
}

.get__form:focus{
    border: 2px #d9424c solid;
}

.get__message{
    margin-top: 27px;
}

.get__btn{
    margin-top: 60px;
}

/* Footer */
.media{
    width: 100%;
    height: 123px;
    background-color: #344b8e;
    border-top: 2px rgba(255, 255, 255, .15) solid;
}

.media__inner{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media__item a{
    color: #ffffff;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    letter-spacing: 0.48px;
    cursor: pointer;
    transition: .1s;
}

.media__item a:hover{
    color: #30b3e1;
}

.media__icons{
    display: none;
}

/* @Media */
@media (max-width: 1150px){

    /* Portfolio */
    .portfolio{
        height: 100%;
        padding-bottom: 100px;
    }

    .portfolio__item{
        width: 100%;
    }

    /* Team */
    .team{
        height: 100%;
        padding-bottom: 100px;
    }

    .team__item{
        max-width: 50%;
    }
}

@media (max-width: 991px){

    /* Intro */
    .intro__title{
        font-size: 35px;
    }

    /* Rubric */
    .rubric__subtitle{
        max-width: 600px;
    }

    /* Services */
    .services{
        height: 100%;
        padding-bottom: 20px;
    }

    .services__item{
        margin-bottom: 80px;
        max-width: 50%;
    }

    /* Skills */
    .skills{
        height: 100%;
        padding-bottom: 100px;
    }

    .skills__item{
        width: 50%;
    }

    /* Reviews */
    .reviews{
        height: 100%;
        padding-bottom: 100px;
    }

    .reviews__item{
        width: 100%;
        justify-content: center;
    }

    .reviews__content{
        width: 40%;
    }

    /* Get */
    .get__credential{
        width: 650px;
    }

    .get__input{
        width: 300px;
    }

    .get__textarea{
        width: 650px;
    }
}

@media (max-width: 769px){

    /* Intro */
    .intro{
        height: 450px;
    }

    .intro__title{
        font-size: 30px;
        padding: 0 50px;
    }

    /* Rubric */
    .rubric{
        flex-wrap: wrap;
    }

    /* Get */
    .get__credential{
        flex-wrap: wrap;
        justify-content: center;
    }

    .get__input{
        width: 75%;
        margin-top: 10px;
    }

    .get__message{
        width: 75%;
    }

    .get__textarea{
        width: 100%;
    }

    /* Nav */
    .nav{
        display: none;
    }

    /* Burger */
    .burger{
        display: inline-block;
        width: 40px;
        height: 4px;
        background-color: #fff;
    }
}

@media (max-width: 640px){

    /* Intro */
    .intro{
        height: 400px;
    }

    .intro__title{
        font-size: 24px;
    }

    /* Button */
    .btn{
        padding: 15px 25px;
        font-size: 14px;
        margin-top: 35px;
    }

    /* Rubric */
    .rubric__title{
        font-size: 25px;
    }

    .rubric__subtitle{
        font-size: 14px;
    }

    .rubric__title::after{
        margin: 15px auto;
    }

    /* Services */
    .services{
        padding: 0;
    }

    .services__item{
        max-width: 100%;
        margin-bottom: 40px;
    }

    .services__item img{
        width: 100px;
        margin-bottom: 25px;
    }

    .services__inner{
        margin-top: 50px;
    }

    .services__title{
        margin-bottom: 10px;
        font-size: 18px;
    }

    .services__text{
        font-size: 14px;
    }

    /* Team */
    .team{
        padding-bottom: 40px;
    }

    .team__item{
        max-width: 100%;
        margin-top: 50px;
    }

    .team__item img{
        width: 120px;
    }

    .team__name{
        font-size: 18px;
        margin-top: 20px;
    }

    .team__position{
        margin-top: 5px;
    }

    .team__text{
        font-size: 14px;
        margin-top: 10px;
    }

    .links{
        margin-top: 20px;
    }

    /* Skills */
    .skills{
        padding-bottom: 40px;
    }

    .skills__item{
        margin-top: 40px;
    }

    .skills__item img{
        width: 120px;
    }

    /* Portfolio */
    .portfolio{
        padding-bottom: 40px;
    }

    .portfolio__inner{
        margin-top: 15px;
    }

    .portfolio__item{
        margin-top: 25px;
    }

    .potfolio__title{
        margin-top: 10px;
    }

    .portfolio__item img{
        max-width: 250px;
    }

    /* Get */
    .get{
        height: 680px;
    }

    .get__email{
        width: 100%;
    }

    .get__credential{
        margin-top: 35px;
        width: 100%;
    }

    /* Reviews */
    .reviews{
        padding-bottom: 40px;
    }

    .reviews__item{
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 35px;
    }
    .reviews__content{
        width: 100%;
        margin: 0;
        text-align: center;
    }

    /* Footer */
    .media{
        height: 50px;
    }

    .media__inner{
        display: none;
    }

    .media__icons{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .media__icon{
        font-size: 24px;
        color: #ffffff;
    }

    .media__icon:hover{
        color: #30b3e1;
    }

    /* All */
    .services,
    .team,
    .skills,
    .portfolio,
    .reviews,
    .get{
        padding-top: 40px;
    }
}

@media (max-width: 380px){

    /* Catigories */
    .catigories{
        flex-wrap: wrap;
        margin-top: 25px;
    }

    .catigories__item{
        width: 35%;
        text-align: center;
        margin: 10px 10px;
        padding: 10px 5px;
    }
}